<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Departamento</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        <%= <%= render @produtos %>%>
    </tbody>
</table>
